* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Showcase Styling */
.showcase {
  color: #1c1e21;
  line-height: 1.34;
  font-size: 12px;
  background-color: #f0f2f5;
  height: 800px;
}

/* Header Styling */
header {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0px auto;
  padding: 50px;
}

/* Styling the right side, aka the image + text */
.text {
  margin-right: auto;
}

/* Styling the fb image */
.image-fb{
  width: 300px;
  margin-left: -30px;
}

/* Styling the paragraph under the image */
h2 {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  width: 500px;
  padding: 0 0 20px;
}


/* Form Styling */
.right {
  margin-top: 20px;
}

form {
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  box-sizing: border-box;
  margin: 40px 0 0;
  padding: 20px 0 28px;
  width: 396px;
  text-align: center;
}

.email-txt,
.psd-txt {
  margin-top: 10px;
  padding: 25px;
  width: 330px;
  background-color: #fff;
  height: 22px;
  line-height: 16px;
  border: 1px solid #dddfe2;
  border-radius: 6px;
  font-size: 17px;
  outline: none;
}

.email-txt:focus,
.psd-txt:focus {
  box-shadow: 1px 1px 1px #1877f2,
    -1px -1px 1px #1877f2;
}

.login-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #1877f2;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
  line-height: 48px;
  padding: 0 16px;
  width: 332px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #1855ff;
}

.link-style {
  margin-bottom: 10px;
  padding-bottom: 1px solid #dddfe2;
  width: 80%;
  margin: 0 auto;
}

.link-ps {
  color: #1877f2;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}

.hr-line {
  border-bottom: 1px solid #dddfe2;
  font-size: 1px;
  margin-bottom: 8px;
  width: 80%;
  margin: 0 auto;
}

.newaccount-btn {
  background-color: #42b72a;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 15px 16px;
  text-decoration: none;
}

.newaccount-btn:hover{
  background-color: #42882a;
}

.note {
  border-top: none;
  color: #1c1e21;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding-top: 0;
  margin-top: 28px;
  text-align: center;
}
/* End of the styling of the form */

/* Styling of the footer */
footer {
  font-size: 12px;
  margin: 0 40px;
  width: auto;
}

.foot {
  width: 70%;
  margin: auto;
}

/* Language section */
.languages>ul {
  padding-top: 8px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.languages>ul>li {
  padding-left: 10px;
}

.languages>ul>li>a {
  color: #8a8d91;
  cursor: pointer;
  line-height: 1.6;
}

.languages>ul>li>a:hover {
  text-decoration: underline;
}

/* horizontal Line */
.horizontal-line {
  border-bottom: 1px solid #dddfe2;
  font-size: 1px;
  height: 8px;
  margin-bottom: 8px;
}

/* Settings Section  */
.settings>ul {
  padding-top: 8px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.settings>ul>li {
  padding-left: 20px;
  padding-right: 0px;
  display: inline-block;
}

.settings>ul>li>a {
  color: #8a8d91;
  cursor: pointer;
  line-height: 1.6;
  text-decoration: none;
}

.settings>ul>li>a:hover {
  text-decoration: underline;
}

/* Copyright Section */
.copyright {
  font-size: 11px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* End of the footer styling */

