* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Showcase Styling */
.showcase {
  color: #1c1e21;
  line-height: 1.34;
  font-size: 12px;
  background-color: #f0f2f5;
  height: 800px;
}

/* Header Styling */
header {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0px auto;
  padding: 50px;
}

/* Styling the right side, aka the image + text */
.text {
  margin-right: auto;
}

/* Styling the fb image */
.image-fb{
  width: 300px;
  margin-left: -30px;
}

/* Styling the paragraph under the image */
h2 {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  width: 500px;
  padding: 0 0 20px;
}


/* Form Styling */
.right {
  margin-top: 20px;
}

form {
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  box-sizing: border-box;
  margin: 40px 0 0;
  padding: 20px 0 28px;
  width: 396px;
  text-align: center;
}

.email-txt,
.psd-txt {
  margin-top: 10px;
  padding: 25px;
  width: 330px;
  background-color: #fff;
  height: 22px;
  line-height: 16px;
  border: 1px solid #dddfe2;
  border-radius: 6px;
  font-size: 17px;
  outline: none;
}

.email-txt:focus,
.psd-txt:focus {
  box-shadow: 1px 1px 1px #1877f2,
    -1px -1px 1px #1877f2;
}